serverless.yml
org: ${env:SLS_ORG}
service: mrsushi-platform

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  memorySize: 512
  timeout: 29
  stage: ${opt:stage, 'dev'}
  iam:
    role: arn:aws:iam::${env:AWS_ACCOUNT_ID}:role/LabRole
  environment:
    ORDERS_TABLE: mrsushi-orders-${self:provider.stage}
    PRODUCTS_TABLE: mrsushi-products-${self:provider.stage}
    USERS_TABLE: mrsushi-users-${self:provider.stage}
    MENU_BUCKET: mrsushi-menu-images-${self:provider.stage}
    EVENT_BUS: mrsushi-event-bus-${self:provider.stage}
    JWT_SECRET: ${env:JWT_SECRET, 'change-me'}
    RAPPI_API_URL: ${env:RAPPI_API_URL, ''}
    RAPPI_WEBHOOK_SECRET: ${env:RAPPI_WEBHOOK_SECRET, 'change-me'}

functions:
  ${file(./functions.yml)}

resources:
  Resources:

    StartWorkflowRule:
      Type: AWS::Events::Rule
      Properties:
        EventBusName: mrsushi-event-bus-${self:provider.stage}
        EventPattern:
          source: ["mrsushi.pedidos"]
          detail-type: ["PedidoCreado"]
        Targets:
          - Arn: !Ref OrderWorkflowStateMachine
            Id: startWorkflow
            RoleArn: arn:aws:iam::${env:AWS_ACCOUNT_ID}:role/LabRole
            InputPath: "$.detail"

    NotificarRappiRule:
      Type: AWS::Events::Rule
      Properties:
        EventBusName: mrsushi-event-bus-${self:provider.stage}
        EventPattern:
          source: [mrsushi.workflow]
          detail-type: [EstadoCambiado]
          detail:
            source: [rappi]
        Targets:
          - Arn: !GetAtt NotificarRappiLambdaFunction.Arn
            Id: notificarRappi

    NotificarRappiPermission:
      Type: AWS::Lambda::Permission
      Properties:
        FunctionName: !GetAtt NotificarRappiLambdaFunction.Arn
        Action: lambda:InvokeFunction
        Principal: events.amazonaws.com
        SourceArn: !GetAtt NotificarRappiRule.Arn

    OrderWorkflowStateMachine:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        StateMachineName: mrsushi-order-workflow-${self:provider.stage}
        RoleArn: arn:aws:iam::${env:AWS_ACCOUNT_ID}:role/LabRole
        DefinitionString:
          Fn::Sub:
            - |
              {
                "Comment": "Workflow de pedidos Mr Sushi (admisión + revisión + task tokens)",
                "StartAt": "TomarOrden",
                "States": {
                  "TomarOrden": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                    "Parameters": {
                      "FunctionName": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ServiceName}-${Stage}-taskHandler",
                      "Payload": { "orderId.$": "$.orderId", "tenantId.$": "$.tenantId", "source.$": "$.source", "step": "tomar_orden", "taskToken.$": "$$.Task.Token" }
                    },
                    "ResultPath": "$.tomarResult",
                    "Next": "ChoiceTomar"
                  },
                  "ChoiceTomar": {
                    "Type": "Choice",
                    "Choices": [ { "And": [ { "Variable": "$.tomarResult.decision", "IsPresent": true }, { "Variable": "$.tomarResult.decision", "StringEquals": "derivado" } ], "Next": "MarcarEnRevision" } ],
                    "Default": "NecesitaCocina"
                  },
                  "NecesitaCocina": {
                    "Type": "Choice",
                    "Choices": [ { "And": [ { "Variable": "$.tieneFria", "BooleanEquals": false }, { "Variable": "$.tieneCaliente", "BooleanEquals": false } ], "Next": "Empacar" } ],
                    "Default": "Cocinar"
                  },
                  "MarcarEnRevision": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "mrsushi-orders-${Stage}",
                      "Key": { "PK": { "S.$": "States.Format('TENANT#{}', $.tenantId)" }, "SK": { "S.$": "States.Format('ORDER#{}', $.orderId)" } },
                      "UpdateExpression": "SET #st = :st, GSI2PK = :g, motivo = :m",
                      "ExpressionAttributeNames": { "#st": "status" },
                      "ExpressionAttributeValues": { ":st": { "S": "en_revision" }, ":g": { "S.$": "States.Format('TENANT#{}#STATUS#en_revision', $.tenantId)" }, ":m": { "S.$": "$.tomarResult.motivo" } }
                    },
                    "ResultPath": null,
                    "Next": "PrepEvtRevision"
                  },
                  "PrepEvtRevision": {
                    "Type": "Pass",
                    "Parameters": { "orderId.$": "$.orderId", "tenantId.$": "$.tenantId", "source.$": "$.source", "step": "en_revision", "status": "en_revision", "motivo.$": "$.tomarResult.motivo" },
                    "ResultPath": "$.evtRevision",
                    "Next": "NotificarEnRevision"
                  },
                  "NotificarEnRevision": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::events:putEvents",
                    "Parameters": { "Entries": [ { "EventBusName": "mrsushi-event-bus-${Stage}", "Source": "mrsushi.workflow", "DetailType": "EstadoCambiado", "Detail.$": "States.JsonToString($.evtRevision)" } ] },
                    "ResultPath": null,
                    "Next": "RevisarDespacho"
                  },
                  "RevisarDespacho": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                    "Parameters": {
                      "FunctionName": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ServiceName}-${Stage}-taskHandler",
                      "Payload": { "orderId.$": "$.orderId", "tenantId.$": "$.tenantId", "source.$": "$.source", "step": "revisar_despacho", "taskToken.$": "$$.Task.Token" }
                    },
                    "ResultPath": "$.revisionResult",
                    "Next": "ChoiceRevision"
                  },
                  "ChoiceRevision": {
                    "Type": "Choice",
                    "Choices": [ { "Variable": "$.revisionResult.decision", "StringEquals": "cancelar", "Next": "MarcarCancelado" } ],
                    "Default": "NecesitaCocina"
                  },
                  "MarcarCancelado": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "mrsushi-orders-${Stage}",
                      "Key": { "PK": { "S.$": "States.Format('TENANT#{}', $.tenantId)" }, "SK": { "S.$": "States.Format('ORDER#{}', $.orderId)" } },
                      "UpdateExpression": "SET #st = :st, GSI2PK = :g",
                      "ExpressionAttributeNames": { "#st": "status" },
                      "ExpressionAttributeValues": { ":st": { "S": "cancelado" }, ":g": { "S.$": "States.Format('TENANT#{}#STATUS#cancelado', $.tenantId)" } }
                    },
                    "ResultPath": null,
                    "Next": "PrepEvtCancel"
                  },
                  "PrepEvtCancel": {
                    "Type": "Pass",
                    "Parameters": { "orderId.$": "$.orderId", "tenantId.$": "$.tenantId", "source.$": "$.source", "step": "cancelado", "status": "cancelado" },
                    "ResultPath": "$.evtCancel",
                    "Next": "NotificarCancelado"
                  },
                  "NotificarCancelado": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::events:putEvents",
                    "Parameters": { "Entries": [ { "EventBusName": "mrsushi-event-bus-${Stage}", "Source": "mrsushi.workflow", "DetailType": "EstadoCambiado", "Detail.$": "States.JsonToString($.evtCancel)" } ] },
                    "ResultPath": null,
                    "Next": "Cancelado"
                  },
                  "Cancelado": { "Type": "Succeed" },
                  "Cocinar": {
                    "Type": "Parallel",
                    "ResultPath": "$.cookResult",
                    "Branches": [
                      {
                        "StartAt": "RevisarFria",
                        "States": {
                          "RevisarFria": {
                            "Type": "Choice",
                            "Choices": [ { "Variable": "$.tieneFria", "BooleanEquals": true, "Next": "CocinaFria" } ],
                            "Default": "SkipFria"
                          },
                          "CocinaFria": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                            "Parameters": {
                              "FunctionName": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ServiceName}-${Stage}-taskHandler",
                              "Payload": { "orderId.$": "$.orderId", "tenantId.$": "$.tenantId", "source.$": "$.source", "step": "cocina_fria", "taskToken.$": "$$.Task.Token" }
                            },
                            "End": true
                          },
                          "SkipFria": { "Type": "Pass", "End": true }
                        }
                      },
                      {
                        "StartAt": "RevisarCaliente",
                        "States": {
                          "RevisarCaliente": {
                            "Type": "Choice",
                            "Choices": [ { "Variable": "$.tieneCaliente", "BooleanEquals": true, "Next": "CocinaCaliente" } ],
                            "Default": "SkipCaliente"
                          },
                          "CocinaCaliente": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                            "Parameters": {
                              "FunctionName": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ServiceName}-${Stage}-taskHandler",
                              "Payload": { "orderId.$": "$.orderId", "tenantId.$": "$.tenantId", "source.$": "$.source", "step": "cocina_caliente", "taskToken.$": "$$.Task.Token" }
                            },
                            "End": true
                          },
                          "SkipCaliente": { "Type": "Pass", "End": true }
                        }
                      }
                    ],
                    "Next": "Empacar"
                  },
                  "Empacar": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                    "Parameters": {
                      "FunctionName": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ServiceName}-${Stage}-taskHandler",
                      "Payload": { "orderId.$": "$.orderId", "tenantId.$": "$.tenantId", "source.$": "$.source", "step": "empacar", "taskToken.$": "$$.Task.Token" }
                    },
                    "ResultPath": "$.empacarResult",
                    "Next": "RamaSource"
                  },
                  "RamaSource": {
                    "Type": "Choice",
                    "Choices": [ { "Variable": "$.source", "StringEquals": "rappi", "Next": "EntregarARappi" } ],
                    "Default": "Repartir"
                  },
                  "Repartir": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                    "Parameters": {
                      "FunctionName": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ServiceName}-${Stage}-taskHandler",
                      "Payload": { "orderId.$": "$.orderId", "tenantId.$": "$.tenantId", "source.$": "$.source", "step": "repartir", "taskToken.$": "$$.Task.Token" }
                    },
                    "ResultPath": "$.repartirResult",
                    "Next": "Entregado"
                  },
                  "EntregarARappi": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                    "Parameters": {
                      "FunctionName": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ServiceName}-${Stage}-taskHandler",
                      "Payload": { "orderId.$": "$.orderId", "tenantId.$": "$.tenantId", "source.$": "$.source", "step": "entregar_rappi", "taskToken.$": "$$.Task.Token" }
                    },
                    "ResultPath": "$.entregaRappiResult",
                    "Next": "Entregado"
                  },
                  "Entregado": { "Type": "Succeed" }
                }
              }
            - ServiceName: ${self:service}
              Stage: ${self:provider.stage, 'dev'}
